.temperature {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  &__title {
    display: inline-block;
    height: 102px;
    color: #000000;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
  }
  &__article {
    display: block;
    max-width: 768px;
    font-size: 14px;
    font-weight: 400;
    :first-child {
      font-size: 16px;
      font-weight: 700;
      margin-top: 0;
    }
    :nth-child(5) {
      background-color: rgba(0, 191, 243, 0.06);
      padding-left: 5px;
      margin-left: 30px;
      border-left: 3px solid rgba(0, 191, 243, 0.8);
    }
    :nth-child(7) {
      margin-bottom: 4px;
    }
    :nth-child(8) {
      margin-top: 0;
    }
  }
  &__table {
    display: block;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    tr {
      border-bottom: 2px solid #ebebeb;
    }
    tr:first-child {
      background-color: #ebebeb;
      border-bottom: 2px solid #777777;
    }
    td {
      padding-right: 30px;
    }
    td:first-child {
      padding-left: 15px;
    }
    td:last-child {
      padding-right: 15px;

    }
  }
  &__find-symptoms {
    display: block;
    text-align: left;
    white-space: pre-wrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  &__whr {
    display: block;
    align-self: flex-end;
    position: absolute;
    font-family: "Trebuchet MS", sans-serif;
    width: 213px;
    padding-top: 260px;
  }
  &__coefficient {
    color: #777777;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  &__whr-woman {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
  }
  &__health-scale {
    color: #777777;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-line;
  }
  @media all and (max-width: 1350px) {
    &__whr {
      align-self: flex-start;
      position: relative;
      padding-top: 0;
    }
    &__coefficient {
      margin-top: 0;
    }
  }
  @media all and (max-width: 896px) {
    &__table {
      width: 100%;
      overflow-x: auto;
    }
    &__title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 0;
    }
  }@media all and (max-width: 615px) {
    &__title {
      font-size: 27px;
    }
  }
  @media all and (max-width: 480px) {
    &__title {
      font-size: 22px;
    }
  }
}

