.footer {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 75%;
  margin: 0 auto;
  &__elapsed-time {
    color: #ff0000;
    font-size: 18px;
    font-weight: 400;
    p {
      color: #1f4877;
      opacity: 0.8;
      font-family: Impact;
      font-size: 35px;
      position: absolute;
      transform: rotate(11deg);
      margin: -32px 0 0 205px;
    }
  }
  &__social {
    height: 1px;
    border-top: 2px solid #777777;
    a {
      display: inline-block;
      float: right;
      text-decoration: none;
      padding: 9px 10px 7px 0;
    }
  }
  &__social-icons {
    border-radius: 50%;
    &:hover {
      transform: scale(1.2);
      background-color: #2a48ff;
      transition: 0.8s;
    }
  }
  &__test {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    width: 370px;
    float: left;
    margin-top: 19px;
    b {
      color: #00a2ff;
    }
  }
  @media all and (max-width: 680px) {
    &__test {
      width: 100%;
    }
  }
}