@import url(header.css);
@import url(main.css);
@import url(article.css);
@import url(footer.css);
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0 auto; }

main {
  margin-top: -2px; }
